fastapi
fastapi-pagination
python-dotenv
pydantic[dotenv]
uvicorn
pydantic
pydantic[email]
setuptools-rust
python-multipart
aiofiles
jinja2
python-jose[cryptography]
passlib
bcrypt
flatdict
gitpython
pymongo
pyinstrument
