fastapi=0.66.0
fastapi-pagination=0.9.1
python-dotenv
pydantic[dotenv]~=1.8.2
uvicorn~=0.14.0
pydantic
pydantic[email]
setuptools-rust
python-multipart
aiofiles~=0.7.0
jinja2~=3.0.1
python-jose[cryptography]
passlib~=1.7.4
bcrypt
flatdict~=4.0.1
gitpython
pymongo~=3.12.0
pyinstrument
boto3=1.20.24
pyCryptodome~=3.10.1
pyAesCrypt~=6.0.0
fastapi~=0.66.0
boto3~=1.20.24
botocore~=1.23.24
starlette~=0.14.2
pyaescrypt~=6.0.0
cryptography~=3.4.7
pytest~=6.2.4
firebase_admin>=5.2.0,<5.3.0